{% extends 'assignment/base.html' %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}
    <div class="exists-wrapper">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="text-dark">This index number, {{ o_t.user.index_number }} already exists</h5>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}